@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	font-family: Roboto, sans-serif;
}

main{
	display: flex;
	flex-direction: column;
}
.illustration-container{
	position: relative;
	width: 100vw;
	height: 100vh;
	background: url(../img/main.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	.overlay{
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #ffffffc9;
	}
	.description{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		width: fit-content;
		font-size: 40px;
		padding: 10px;
		border: 8px solid #fff;
	}
	.swipe{
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 20px;
		right: 50%;
		transform: translateX(-50%);
		svg{ fill: #fff;}
		animation: moove 1s linear infinite;
	}

}
@keyframes moove {
	0%{
		bottom: 20px;
		opacity: .2;
	}
	100%{
		bottom: 40px;
		opacity: .8;
	}

}

.description-container{
	width: 100vw;
	height: 100vh;
	background: #d2d7e3;
	font-size: 40px;
	padding: 10px;
	border: 8px solid #fff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	.title{
		font-size: 24px;
		padding: 30px;
		color: #4c4c4c;
		text-align: center;
		letter-spacing: 1.1px;
	}
}


@media(min-width:750px) {
	main{
		display: flex;
		flex-direction: row;
	}
	.illustration-container{
		width: 50vw;
	}
	.description-container{
		width: 50vw;
	}
}